@model IEnumerable<Praksa.MK_PROTECTEDAREAS_EEACDDAV15__ATTACH>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ATT_NAME)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA)

        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ATT_NAME)
           
        </td>

        <td> <img src="@Url.Action("show",new { id=item.ATTACHMENTID})" height="100px" width="100px" </td>

        </tr>
}

</table>
